.auth-form {
    width: 40rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-group input {
    border: none;
}
.card {
    background-color: #f1f2f399 !important;
    border-radius: 12px;
    border: none !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.form-group {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.1);
    height: 40px;
}
.form-group i,
.form-group input::placeholder {
    color: #adb5bd !important; 
}
.form-group input:focus,
.form-group input:active {
    box-shadow: none;
}